.wrapper {
  display: flex;
  justify-content: space-between;
  background: #1f1f1f;

  :global(.ant-menu-item) {
    display: flex;
    align-items: center;
    height: 48px;

    :global(.anticon) {
      font-size: 18px;
    }
  }
}
