.image {
  border-radius: 14px;
  height: 120px;
  display: block;
  overflow: hidden;
  margin-bottom: 16px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.icon {
  margin-right: 16px;
}

.dataWrapper {
  display: grid;
  grid-gap: 16px;
}

.drawer {
  :global(.ant-drawer-wrapper-body) {
    &::after {
      content: '';
      position: absolute;
      height: 50%;
      width: 100%;
      background: linear-gradient(to top, #1f1f1f, transparent);
      bottom: 0;
      opacity: 1;
      transition: opacity 0.3s;
      pointer-events: none;
    }
  }

  :global(.ant-drawer-body) {
    padding: 0 24px;
    margin-bottom: 16px;
    overflow: hidden;
  }
}

.fullscreenDrawer {
  composes: drawer;

  :global(.ant-drawer-body) {
    overflow: auto;
  }

  :global(.ant-drawer-wrapper-body) {
    &::after {
      opacity: 0;
    }
  }

  :global(.ant-drawer-content-wrapper) {
    transition: height 0.3s;
    height: 100% !important;
  }
}

.title {
  margin: 0;
  padding: 16px 0;
}
