.image {
  border-radius: 14px;
  height: 120px;
  display: block;
  overflow: hidden;
  margin-bottom: 16px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.icon {
  margin-right: 16px;
}

.fullscreenDrawer {

  :global(.ant-drawer-content-wrapper) {
    transition: height .3s;
    height: 100% !important;
  }
}
